.menu { 
    display: flex; 
} 
.menu a {
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    text-decoration: none;
    background: #3a3a3a70;
}
.menu a:hover {
    color: #ffe945;
    background: #3a3a3a70;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    .menu { flex-wrap: wrap; }
}