html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: calc(1rem + 0.390625vw);
}

#grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0.5rem auto;
}
.grid-border {
  border-right: 1px rgb(227, 227, 227) dashed;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

header {
  grid-column: span 2;
  grid-row: 1;
  padding-top: 1rem;
  padding-left: 0.5rem;
  text-align: center;
}
aside {
  grid-column: 1;
  grid-row: 2;
}
article {
  grid-column: 2;
  grid-row: 2;
  padding: 0.5rem 0.5rem;
}
footer {
  grid-column: span 2;
  grid-row: 3;
  padding-top: 10rem;
  text-align: center;
  font-size: 12px;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
}

h2 {
  font-size: 2rem;
  padding-top: 0;
}

p {
  line-height: 1.4rem;
  text-wrap: pretty;
}

a {
  color: #121316;
  text-decoration: underline;
  text-decoration-color: #dedfdf;
  text-decoration-thickness: 2px;
}
a:focus, a:hover {
  text-decoration-color:#a4a4b7;
  cursor: pointer;
}

dl {
  padding: 0;
}
dd {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-inline-start: 10px;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #bcc1c1; 
}
.dd-border {
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #bcc1c1; 
}
dt {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

.hidden {
  opacity: 0;
}

@media (max-width: 1000px) {
  #grid {
    margin: 0;
  }
}
@media (max-width: 760px) {
  #grid {
    display: block;
    width: 100%;
    margin: 0;
  }

  article,
  aside {
    width: 100%;
  }
}

.logo{
  position:absolute;
  top: 3.5rem;
  /* left: calc(35% - 2.7vw); */
  display:block;
  border:1px black solid;
}
#un{
  width:40px;
  height:40px;
  animation-name: anim1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
#deux{
  width:30px;
  height:30px;
  animation-name: anim2;
  animation-delay: 0.1s;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;  
}
#trois{
  width:20px;
  height:20px;
  animation-name: anim3;
  animation-duration: 1.1s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes anim1 {
  10%{width:0px;}
  100%{width:40px;transform: rotate(180deg);}
}
@keyframes anim2 {
  10%{width:0px;}
  100%{width30px;transform: rotate(180deg);}
}
@keyframes anim3 {
  10%{width:0px;}
  100%{width:20px;transform: rotate( 180deg);}
}
