html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
}

#grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0.5rem auto;
}
.grid-border {
  border-right: 1px rgb(227, 227, 227) dashed;
  padding: 0.3rem;
}

header {
  grid-column: span 2;
  grid-row: 1;
  padding: 1rem 0;
  text-align: center;
}
aside {
  grid-column: 1;
  grid-row: 2;
  padding: 0.5rem 0.5rem;
}
article {
  grid-column: 2;
  grid-row: 2;
  padding: 0.5rem 0.5rem;
}
footer {
  grid-column: span 2;
  grid-row: 3;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
}

h2 {
  font-size: 2rem;
  padding-top: 0;
}

p {
  line-height: 1.4rem;
  text-wrap: pretty;
}

a {
  color: #121316;
  text-decoration: underline;
  text-decoration-color: #dedfdf;
  text-decoration-thickness: 3px;
}
a:focus, a:hover {
  text-decoration-color:#a4a4b7;
  cursor: pointer;
}

dl {
  padding: 0;
}
dd {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-inline-start: 10px;
  padding-left: 5px;
  border-left: solid;
  border-left-width: 2px;
  border-left-color: #fff; 
}
.dd-border {
  border-left: solid;
  border-left-width: 2px;
  border-left-color: #bcc1c1; 
}
dt {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.hidden {
  display: none;
}

@media (max-width: 1000px) {
  #grid {
    margin: 0;
  }
}
@media (max-width: 760px) {
  #grid {
    display: block;
    width: 100%;
    margin: 0;
  }

  article,
  aside {
    width: 100%;
  }
}

#target-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;
}
#target-content:target {
  pointer-events: all;
  opacity: 1;
}
#target-content #target-inner {
  position: absolute;
  display: block;
  padding: 32px;
  line-height: 1.8;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgb(252, 252, 252);
  color: #34495E;
}
#target-content #target-inner h2 {
  margin-top: 0;
}
#target-content a.close {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b2b5b8;
  opacity: 0.5;
  transition: opacity 500ms;
}
#target-content a.close:hover {
  opacity: 0.4;
}
